/* ---------------signin--------------------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9DD1F1;
}
.back-btn {
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
}

figure {
  width: 100px;
  heigth: 100px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top:0;
  left: 0;
}
figure img {
  width: 100%;
}
.signin-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
  font-family: 'Acme', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  cursor: pointer;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-register p {
  margin-bottom:  30px;
}
.gender-container {
  width: 100%;
  display: flex;
  justify-content:  center;
}
input[type=radio] {
margin-left: 10px;

}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* ----------------------------------------*/

/* Media Queries */
@media  (max-device-width: 360px){
.form-register {
  width: 95%;
}
}
@media  (max-device-width: 450px){
.form-register {
  width: 95%;
}
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
.form-register {
  width: 95%;
}
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
.form-register {
  width: 95%;
}
}
@media  (min-device-width: 451px) and (max-device-width: 767px){
  .form-register {
    width: 95%;
  }
}
@media  (min-device-width: 768px) and (max-device-width: 850px){
  .form-register {
    width: 95%;
  }
}
