body {
  font-family: 'Audiowide', cursive;
}
.container-fluid {
  margin: 0;
  padding:0;
}
/* Navbar Section */
.navbar {
  background-color: #9DD1F1;
}
.nav-item {
  padding: 0 25px;
}
nav .navbar-nav li a{
  color: #333333 !important;
  }
  nav .navbar-nav li a:hover{
    color: white !important;
    }
.img-brand {
  width: 9em;
  height: 7.5em;
}

/* Search form */
.sbx-custom {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 37px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 16px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 19px;
  box-shadow: inset 0 0 0 1px #B9FFFC;
  background: #FFFFFF;
  padding: 0;
  padding-right: 58px;
  padding-left: 19px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 1px #86fffa;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #B9FFFC;
  background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.sbx-custom__input::-moz-placeholder {
  color: #AAAAAA;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #AAAAAA;
}

.sbx-custom__input::placeholder {
  color: #AAAAAA;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 18px 18px 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 37px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  fill: #7579e7;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 8px;
  right: 37px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
.row {
  margin-right: 0;
}
/* Alert section */
.typewriter-box {
  text-align: center;
  margin: auto;
  width: 100%;
}
.typewriter {
  /* make cursor fit to content */
display: inline-flex;
justify-content: center;
width: auto;
}
.typewriter h1 {
  color: #333333;
  font-family: 'Audiowide', cursive;
  pointer-events: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #333333; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3s steps(12, end),
    blink-caret .75s /*step-end*/steps(12, end) infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #333333; }
}

/*  Title Section*/
.col-lg-8 {
  background-color: #9DD1F1;
}
.jumbotron {
  background-color: #9DD1F1;
}
.lead {
  display: inline-block;
}

.col-lg-4 {
  background: #000;
}
/* Login Section */
.login-box {
  width: 100%;
  height: 420px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

/* Footer section */
footer {
   font-family: 'Acme', sans-serif;
   letter-spacing: 2px;
}
.footer-headings {
  color: #fff;
}
.footer-content {
  color: #999;
  line-height: 25px;
}
footer h2 {
  font-size: 18px;
}
.footer-top {
  background: #111;
  padding: 80px 0;
}
.segment-one h3 {
  font-family: 'Henny Penny', cursive;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}
.segment-two h2 {
  color: #fff;
  text-transform: uppercase;
}
.segment-two h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-two ul {
  margin:0;
  padding: 0;
  list-style: none;
}
.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
.segment-two ul li a {
  color: #999;
  text-decoration: none;
}
.segment-three h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
    margin-top: 15px;
}
.segment-three h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.segment-three a svg.svg-inline--fa {
  font-size: 20px;
  color: #fff;
  margin-top: 8px;

}
.segment-four h2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}
.segment-four h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}
.segment-four form input[type=submit] {
  background: #c65039;
  border: none;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
}
p.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
  margin-bottom: 0;
}
/* responsive css */
@media only screen (min-width: 768px) and (max-width: 991px){
  .md-mb-30 {
    margin-bottom: 30px;
  }
}
@media only screen (max-width: 767px){
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 50px 0;
  }
}
